

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.header-logo {
    color: #F9FAF8;
    font-weight: 500;
    font-size: 38px;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 15px;
    flex-shrink: 0;
}

.header-link {
    text-decoration: none;
    color: #cfd1d4;
    font-size: 18px;
    font-weight: 300;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.container-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    justify-content: center;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 58px;
    width: 90%;
}

.hero-subtext {
    font-size: 18px;
    width: 70%;
    color: #cfd1d4;
}

.sign-up-button {
    background-color: #3882f6;
    color: #F9FAF8;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    width: 17%;
    flex-shrink: 0;
    font-weight: 800;
}

.container-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.city-image {
    min-width: 50px;
    width: 80%;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information-text {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    margin-top: 25px;
    margin-bottom: 25px;
}

.information-container {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.info-image {
    height: 200px;
    width: 200px;
    border: 5px solid #3882f6;
    border-radius: 20px;
}

.info-text {
    color: #1f2937;
    font-weight: 200;
    font-size: 21px;
    width: 200px;
    align-items: center;
    text-align: center;
}

.quote-container {
    background-color: #e5e7eb;
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quote-text {
    width: 59%;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    align-self: center;
}

.quote-author {
    align-self: flex-end;
    margin-right: 15%;
    color: #1f2937;
    font-weight: 500;
}

.ad-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

.ad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #3882f6;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 70%;
    gap:20%;
    border-radius: 10px;
}

.ad-left {
    display: flex;
    flex-direction: column;;
}

.ad-text {
    color: #F9FAF8;
}

.ad-description {
    color: #F9FAF8;
    font-size: 13px;
    font-weight: 300;
}

.ad-button {
    background-color: #3882f6;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: 1000;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.footer-text {
    color: white;
    font-size: 15px;
    font-weight: 300;
}